<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/estiloslogin.css">
    <title>FOX Streaming - Staff</title>
</head>

<body>
    <div class="form-body">
        <img src="./src/images/logo.png" alt="">
        <p class="text">Bienvenido a FOX STREAMING</p>

        <form class="login-form" method="post" action="">
            <input id="usuario" type="text" class="input" name="usuario" placeholder="Nombre de usuario">
            <input type="password" id="input" class="input" name="password" placeholder="Contraseña">
            <input name="btnlogin" class="btn" type="submit" value="INICIAR SESION">
        </form>
    </div>
</body>

</html>